@* <div class="ad-banner text-center">

    <img src="images/ad-placeholder.png" style="max-width:100%" />

</div> *@

<!-- Top Ad Placeholder -->
<div class="top-ad-placeholder">
    <span>Google Banner Ad (728 x 90)</span>
</div>