<div class="row text-center">

    <div class="row">
        <!-- service-block -->
        <div class="service-block col-lg-3 col-sm-6">
            <div class="inner-box">
                <div class="icon-box"><i class="bi bi-clock"></i></div>
                <div class="content-box">
                    <h6 class="title"><a href="page-service-details.html">30 Seconds Typing Test</a></h6>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                    <a href="/" data-animation-in="fadeInUp" data-delay-in="0.4" class="theme-btn ser-btn">Start Test <i class="flaticon-arrow-pointing-to-right btn-icon ms-1"></i></a>
                </div>
            </div>
        </div>
        <!-- service-block -->
        <div class="service-block col-lg-3 col-sm-6">
            <div class="inner-box">
                <div class="icon-box"><i class="bi bi-clock"></i></div>
                <div class="content-box">
                    <h6 class="title"><a href="page-service-details.html">1 Minute Typing Test</a></h6>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                    <a href="/" data-animation-in="fadeInUp" data-delay-in="0.4" class="theme-btn ser-btn">Start Test <i class="flaticon-arrow-pointing-to-right btn-icon ms-1"></i></a>
                </div>
            </div>
        </div>
        <!-- service-block -->
        <div class="service-block col-lg-3 col-sm-6">
            <div class="inner-box">
                <div class="icon-box"><i class="bi bi-clock"></i></div>
                <div class="content-box">
                    <h6 class="title"><a href="page-service-details.html">3 Minute Typing Test</a></h6>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                    <a href="/" data-animation-in="fadeInUp" data-delay-in="0.4" class="theme-btn ser-btn">Start Test <i class="flaticon-arrow-pointing-to-right btn-icon ms-1"></i></a>
                </div>
            </div>
        </div>
        <!-- service-block -->
        <div class="service-block col-lg-3 col-sm-6">
            <div class="inner-box">
                <div class="icon-box"><i class="bi bi-clock"></i></div>
                <div class="content-box">
                    <h6 class="title"><a href="page-service-details.html">5 Minute Typing Test</a></h6>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                    <a href="page-service-details.html" data-animation-in="fadeInUp" data-delay-in="0.4" class="theme-btn ser-btn">Start Test <i class="flaticon-arrow-pointing-to-right btn-icon ms-1"></i></a>
                </div>
            </div>
        </div>
    </div>

</div>