<div class="word-of-the-day-wrapper">

    <div class="word-title">
        Word of the Day
    </div>

    <div class="word-box">

        Serendipity:
        The occurrence of happy events by chance.

    </div>

</div>